# Copier ce fichier en .env et renseigner les valeurs
# Ces variables doivent aussi être ajoutées dans GitHub Settings > Secrets and Variables > Actions

VITE_SUPABASE_URL=https://xxxxxxxxxxxxxxxxxxxx.supabase.co
VITE_SUPABASE_PROJECT_ID=xxxxxxxxxxxxxxxxxxxx
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGci...
